/* »» FONTS */
/*
@font-face {
	font-family: "Butler";
	//font-weight: 600;
	//font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
	src: url("../public/fonts/Butler.woff2") format("woff2"), url("../public/fonts/Butler.woff") format("woff");
}

@font-face {
  font-family: "OptimusPrinceps";
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url("../public/fonts/OptimusPrincepsSemiBold.woff") format("woff2"), url("../public/fonts/OptimusPrincepsSemiBold.ttf") format("truetype");
}
*/

/* »» COLORS */

$BODY_BACKGROUND_COLOR: rgb(20, 20, 20);
$FONT_COLOR: #f5dbb9;
$FONT_COLOR_DARK: #bda585;
$FONT_COLOR_LIGHT: #f7e6d0;

//BEM
.block {
  @at-root #{&}__element {
		color: black;
	}
  @at-root #{&}--modifier {
		color: black;
  }
}
/* https://sparkbox.com/foundry/bem_by_example
Example:
.photo
.photo__image
.photo__button
.photo__button--hover
*/

/* »» ROOT ELEMENTS */

html, body {
	//height: 100vh;
	margin: 0;
	color: $FONT_COLOR;
	background-color: $BODY_BACKGROUND_COLOR;
}

/* »» UTILITIES */

.center {
	display: flex;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.center-left {
	display: flex;
	text-align: center;
	align-content: center;
	align-items: flex-start;
}

.center-right {
	display: flex;
	text-align: center;
	//align-content: flex-end;
	align-items: center;
	justify-content: flex-end;
}

.bottom-right {
	display: flex;
	//text-align: center;
	align-items: flex-end;
	justify-content: flex-end;
	max-height: 100%;
}


.fill {
	height: 100%;
	width: 100%;
}

.text--mini {
	font-size: 0.8rem;
	* {
		font-size: 0.8rem;
	}
}

/* »» PROJECT */

.container-box {
	background-color: var(--surface-d);
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 4px;
	box-shadow: 2px 6px 4px -1px rgba(0, 0, 0, 0.2),
		0 3px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

@mixin container-item-box {
	background: var(--surface-f);
	padding: 1rem;
	margin: 0.2rem;
	box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.27), 0 1px 1px 0 rgba(0, 0, 0, 0.34), 0 1px 3px 0 rgba(0, 0, 0, 0.29),
	inset 0px 5px 15px 4px rgba(255,255,255,0.07);
}

.container-modal {
	width: 40vw;
}