/* »» COLORS */

$BODY_BACKGROUND_COLOR: rgb(20, 20, 20);
$FONT_COLOR: #884d00;
$FONT_COLOR_DARK: #005544;
$FONT_COLOR_LIGHT: #acd4cc;

//BEM
.block {
  @at-root #{&}__element {
		color: black;
	}
  @at-root #{&}--modifier {
		color: black;
  }
}

/* »» ROOT ELEMENTS */

html {
	font-size: medium;
}

body {
	height: 100vh;
	margin: 0;
}

/* »» UTILITIES */

.center {
	display: flex;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.center-left {
	display: flex;
	text-align: center;
	align-content: center;
	align-items: flex-start;
}

.center-right {
	display: flex;
	text-align: center;
	//align-content: flex-end;
	//align-items: flex-end;
	justify-content: flex-end;
}

.fill {
	height: 100%;
	width: 100%;
}

@mixin proportional-box($a: 1, $b: $a) {
	position: absolute;
	top: 0;
	left: calc(50vw - #{$a/$b/2 * 100vh});
	width: $a/$b * 100vh;
	height: 100vh;

	@media (max-aspect-ratio: #{$a}/#{$b}) {
		top: calc(50vh - #{$b/$a/2 * 100vw});
		left: 0;
		width: 100vw;
		height: $b/$a * 100vw;
	}
}

/* »» PROJECT */

